DOMO_API_KEY=
DOMO_BASE_URL=https://gwcteq-partner.domo.com/api
DOMO_MODEL=domo.google.gemini-2.5-pro

GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_WHISPER_MODEL=whisper-large-v3-turbo

GMAIL_SENDER_ADDRESS=
GMAIL_APP_PASSWORD=
